<!--
<ul>
    <li><a routerLink="/admin">Dashboard</a></li>
    <li><a routerLink="customers">Customers</a></li>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="orders">Orders</a></li>
    <li><a routerLink="">Siteyi Gör</a></li>
</ul> -->

<!-- <mat-list-item role="listitem"><a routerLink="/admin">Dashboard</a></mat-list-item>  böyle de kullanılabilir -->

<mat-list role="list">
  <a mat-list-item role="listitem" routerLink="/admin">Dashboard</a> <!--Böyle de kullanılabilir -->
  <a mat-list-item role="listitem" routerLink="customers">Customers</a> <!--Böyle de kullanılabilir -->
  <a mat-list-item role="listitem" routerLink="products">Products</a> <!--Böyle de kullanılabilir -->
  <a mat-list-item role="listitem" routerLink="orders">Orders</a> <!--Böyle de kullanılabilir -->
  <a mat-list-item role="listitem" routerLink="">Siteyi Gör</a> <!--Böyle de kullanılabilir -->
</mat-list>